@tailwind base;
@tailwind components;

@import url('https://api.fontshare.com/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap');

body {
    font-family: 'Clash Display', sans-serif !important;
    background-color: #111314 !important;
    overflow-x: hidden !important;
}

.sc{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.sc:hover {

    background-color: #B8DBDF;

}
.sc:hover  .sicon {

    color: #111314;
} 
.slick-dots{
    margin-bottom: -1rem !important;
}
.slick-dots li button:before{

    color:rgba(255, 255, 255, 0.575) !important;
}

.slick-dots li.slick-active button:before{
    color: antiquewhite !important;
}
/* .slick-dots button::before{

    background-color: antiquewhite;
    border-radius: 5px;
} */

@tailwind utilities;